/* ------------------------ Fonts ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap');

@font-face {
    font-family: "Walter";
    src:
        local("Walter"),
        url("/public/fonts/Walter.ttf")    
}
/*------------------ Varib CSS ------------------ */

:root{

      /* dark color */
    --first-color: rgb(13, 22, 48); 
 
    --first-color-alt: rgb(193, 34, 129);
    --title-color:rgb(255, 255, 255);
    --text-color: rgb(2, 2, 3);
    --text-color-light:rgb(41, 42, 48);
    --input-color: rgb(255, 255, 255);

    --body-color: rgba(2, 67, 125, 1);
    
 

    /*----------------- Font and typography -----------------*/
    --body-font: 'Poppins', san-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*---------- Font weight ----------*/
    --font-medium: 400;
    --font-semi-bold:500;
}


/*----------- Font size for large devices -----------*/
                   /* media queries */

@media screen and (min-width: 968px) {
    :root{
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}

/*--- Initialization ---*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white !important;
}

img{
    max-width: 100%;
    height: auto;
}

/* ------------------------ Navbar----------------------------------- */

.nav{ 
    background-color: var(--first-color) !important;
    display: flex;
    justify-content: space-around;
}

.navbar-brand{
    margin-right: auto;
}

.nav-link:hover, .navbar-brand:hover{
    color: var(--first-color-alt) !important;
}

.navbar-collapse{
    margin-top: .5rem;
    flex-grow: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

/* ------------------------ Sections----------------------------------- */
.container{
 max-width: 768px; 
  margin: 0 1rem;    
}

.section{
    padding: 2rem 0 4rem;
}

.section_title{
    font-size: var(--h1-font-size);
}
.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 3rem;
}

.section_title,
.section_subtitle {
    text-align: center;
}
/* /* ------------------------ Home ---------------------------------- */
#home{
    background-image: url("../img/Disney-Background.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    
 

}


.home_content{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .home_social{
     display: flex;
     flex-direction: column;
     margin-right: 3rem;
 }
 
 .home_social-icon{
     font-size: 1rem;
     color: var(--text-color);
 }
 .social_icon{
     margin: 16px;
 }
 
 .home_social-icon :hover{
     color:var(--first-color-alt);
 }
 
 .home_blob{
     width: 200px;
     fill: var(--first-color);
 }
 
 .home_blob-img{
     width: 170px;
 }
 
 .home_data{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .home_title{
     font-size: var(--big-font-size);
 }
 
.name{
    font-family: "Walter";
    text-shadow: 1px 1px 3px var(--first-color-alt);

}

.home_subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: 0.75rem;
}


.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 5rem 1rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button_icon{
    font-size: 1.25rem;
    margin-left: .5rem;
    transition: .3s;
    
}

.button_flex{
    display: inline-flex;
    align-items: center;
}

/* ------------------------ About ----------------------------------- */

.about_container{
    display: flex;
    flex-direction: column;
    align-items: center;}

.about_img{
    width: 150px;
    border-radius: 100%;
}

.about_data{
    text-align: center;
    margin: 2.5rem;
}

.about_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
} 

.about_buttons{
    display: flex;
    justify-content: center;
}

/* -----------------------  Portfolio --------------------- */
.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel{
 width: auto;
}
.carousel-item img{
    border: .5rem solid black;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.475);
    border-radius: 1.5rem;
}

/* -----------------------  Skills --------------------- */
.skills{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.accordion{
--bs-border-color: none ;
--bs-accordion-btn-focus-box-shadow: none ;
--bs-accordion-color: white;
--bs-accordion-bg: (var(--first-color)) ; 
}

.accordion-button{
    background-color: var(--body-color) !important;
}

.skills_title{
    font-size: var(--h3-font-size);
}
.skills_icon{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: 2rem;
    
}


/* -------------------- Contact ------------------ */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_info{
    display: flex;
    /* margin: 2rem; */
}

.contact_icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: .75rem;
}

.contact_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.contact_content{
    background-color: var(--first-color);
    border-radius: .5rem;
    padding: .75rem 1rem 1.2rem;
    margin: .75rem;
}

.contact_label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.contact_input{
    width: 100%;
    background-color: rgb(213, 213, 213);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

/* ------------Footer--------------- */

.footer{
    background-color: var(--first-color);
    padding: 1.5rem 0 1rem ; 
}

.footer_socials{
    font-size: 1rem;
    display: flex;
    align-items: center;   
    justify-content: center;
    
}

.footer_social:hover {
    color: var(--first-color-alt);
}

.footer_social{
    font-size: 1.25rem;
    margin-right: 1.5rem;
}

.footer_copy{
    padding-top: 1rem;
    font-size: var(--smaller-font-size);
    text-align: center;
    color: white;
}

.footer_link,
.footer_social{
    color: white;
}

/* for small devices */
@media screen and (max-width:350px) {
    .container{
        margin: 0 1rem;
    }

    .home_content{
        grid-template-columns: .25fr 3fr;
    }

    .home_blob{
        width: 180px;
    }

    .skills_title{
        font-size: var(--normal-font-size);
    }

    .contact_form{
        width: 350px;
    }
     
}

/* For medium devices */

@media screen and (min-width: 568px) {
   
    .home_social-icon{
        font-size: 1.25rem;
    }

    .home_data{
        grid-column: initial;
    }

    .home_img{
        justify-self: center;
    }
    .contact_form{
        width: auto;
    }
    .about_container,
    .footer_container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (min-width: 768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }

    .section_subtitle{
        margin-bottom: 4rem;
    }

    .main,
    .footer_container{
        padding: 0 1rem;
    }


    .home_container{
        row-gap: 5rem;
    }

    .home_blob{
        width: 270px;
    }

    .home_social-icon{
        font-size: 1.5rem;
    }

    .about_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5rem;
    }

    .about_img{
        width: 200px;
        border-radius: 100%;
    }
   

    .about_data{
        text-align: initial;
    }

    .accordion{
        width: 60%;
    }
    .carousel{
        width: 60%;
    }

    .portfolio_content{
        align-items: center;
    }
    .contact_form{
        width: 660px;
    }
    .footer_socials{
        display: flex;
    }

  
    

}

/* For large devices */
@media screen and (min-width:991px) {
    .header,
    .main,
    .footer_container{
        padding: 0;
    }

    .nav_icon{
        display: none;
    }

    .home_blob{
        width: 320px;
    }

    .home_social{
        transform: translateX(-6rem);
    }

    .portfolio_content{
        column-gap: 5rem;
    }

    .contact_form{
        width: 660px;
    }

    .contact_inputs{
        grid-template-columns: repeat(2, 1fr);
    }

    
}